# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Compiled extensions
*.pyd
*.so

# Build directories
build/
dist/

# Egg-info directories
*.egg-info/

# Virtual environments
venv/
env/
*.env

# IDE specific files
.DS_Store

# Documentation files
docs/CHANGELOG.md
docs/idee.txt
docs/wiki.md
docs/test.py
docs/code.py

# Other
labtoolbox/io.py

# Jupyter notebooks
example.ipynb

# Configuration files
setup.py
setup.cfg